* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    border: 5px solid black;
    width: 500px;
    overflow-y: scroll;
    height: 230px;

    margin: 100px auto;
}

.h1 {
   
    position: sticky;
    top: 0;
}

h1 {
    background-color: gray;
}